@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);

/* Background. */
body {
    background-size: 10%;
    background: url("background.jpg") no-repeat;
}

/* Navigation bar. */
.navbar-default {
    background-color: #394047;
}
.nav-item{
    padding: 4px;
}

.form-group {
    padding: 20px;
}

.card-header {
    font-size: 75%;
    padding: 6px;
    text-align: center;
    background-color: #f8f8f8;
}

.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(32, 18, 47, 0.4);
}

.panel-heading {
    background-color: #394047;
    color: #fff;
    font-size:110%;
    text-align: center;
    padding: 8px 12px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body{
    padding: 8px 8px;
}

.divider {
    background-color: #394047;
    color: #FFFFFF;
    padding: 3px  3px;
    text-align: center;
}

/* Font size for page headings. */
.page-heading {
    font-size: 145%;
    margin: 0 0;
}
.checkbox-container {
    text-align: center;
    column-count: 3;
    padding:10px ;
}

div.checkbox-container {
    display: block;
    margin: auto;
}


.mdl-checkbox {
    resize: none;
    display:block;
}

.mdl-checkbox, .choose-message-caption {
    resize: none;
    margin:25px;
}

label.mdl-checkbox {
    display:inline-block;
}