
/* Background. */
body {
    background-size: 10%;
    background: url("background.jpg") no-repeat;
}

/* Navigation bar. */
.navbar-default {
    background-color: #22292f;
}

.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.panel-heading {
    background-color: #22292f;
    color: #FFFFFF;
    padding: 8px 12px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body{
    padding: 8px 8px;
}



.divider {
    background-color: #22292f;
    color: #FFFFFF;
    padding: 3px  3px;
    text-align: center;
}

/* Font size for page headings. */
.page-heading {
    font-size: 145%;
    margin: 0 0;
}

